.map-container {
  height: 400px;
  margin-left: auto;
  margin-right: 0;
  max-width: 100%; /* Adjust width for responsiveness */
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .map-container {
    max-width: 100%; /* Full width on smaller screens */
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .map-container {
    height: 250px; /* Smaller height for mobile */
  }
}
