body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color: rgba(232, 205, 232, 0.374);
}

.app-container {
  text-align: center;
  padding: 20px;
}

.app-title {
  font-size: 28px;
  color: #333;
}
